USE [master]
GO
/****** Object:  Database [EnsembleTest]    Script Date: 2022-06-13 6:37:34 PM ******/
CREATE DATABASE [EnsembleTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EnsembleTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\EnsembleTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EnsembleTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\EnsembleTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EnsembleTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EnsembleTest]
GO
/****** Object:  User [svc_EnsembleTest]    Script Date: 2022-06-13 6:37:34 PM ******/
CREATE USER [svc_EnsembleTest] FOR LOGIN [svc_EnsembleTest] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 2022-06-13 6:37:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](max) NOT NULL,
	[Description] [varchar](max) NOT NULL,
	[ReleaseYear] [varchar](4) NOT NULL,
	[Duration] [decimal](18, 0) NOT NULL,
	[Rating] [int] NOT NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
